{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style2.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="about-us-1366px">
      <img class="vector-icon" alt="" src="{% static './public/vector.svg' %}" />
      <div class="about-us-1366px-child"></div>
      
      <img class="gol-logo-1-icon" alt="" src="{% static './public/gollogo-1@2x.png' %}" />
      <div class="nav-var">
        <div class="find-reservations">Find Reservations</div>
        <div class="packages-parent">
          <div class="packages">Packages</div>
        </div>
        <div class="about-lakshadweep-parent">
          <div class="packages">About Lakshadweep</div>
          <img class="vector-icon2" alt="" src="{% static './public/vector2.svg' %}" />
        </div>
        <div class="find-reservations">About Us</div>
        <div class="find-reservations">Gol</div>
        <div class="find-reservations">Support</div>
      </div>
      <div class="about-us-1366px-item"></div>
      <b class="about-us1">About Us</b>
      <div class="about-us-1366px-inner">
        <div class="our-team-parent">
          <b class="our-team">Our Team</b>
          <div class="quidam-officiis-similique-container">
            <p class="quidam-officiis-similique">
              Quidam officiis similique sea ei, vel tollit indoctum
            </p>
            <p class="quidam-officiis-similique">
              efficiendi ei, at nihil tantas platonem eos.
            </p>
          </div>
        </div>
      </div>
      <div class="sebastian-bennett-parent">
        <b class="sebastian-bennett">Sebastian Bennett</b>
        <div class="founder">Founder, LEad Photographer, CEO</div>
        <div class="lorem-ipsum-dolor">
          Lorem ipsum dolor sit amet, ut dicat euismod invidunt pro, ne his
          dolorum molestie reprehendunt, quo luptatum evertitur ex. Altera
          integre suavitate per an, alienum phaedrum te sea. Ex sea causae
          dolores, nam et doming dicunt feugait. Ea mel scripta aperiri
          postulant. Ut sed affert audire.
        </div>
        <div class="frame-wrapper">
          <div class="facebook-parent">
            <img class="facebook-icon" alt="" src="{% static './public/facebook.svg' %}" /><img
              class="facebook-icon"
              alt=""
              src="{% static './public/twitter.svg' %}"
            /><img class="facebook-icon" alt="" src="{% static './public/instagram.svg' %}" />
          </div>
        </div>
      </div>
      <img class="group-icon" alt="" src="{% static './public/group-1000003656.svg' %}" /><img
        class="rectangle-icon"
        alt=""
        src="{% static './public/rectangle@2x.png' %}"
      />
      <div class="rectangle-div"></div>
      <div class="testomonial-1">
        <div class="what-customers-are-saying-parent">
          <b class="what-customers-are">What customer’s are saying?</b>
          <div class="take-a-look">
            Take a look at what our customer’s are saying. At Nature we not only
            provide you with services but also we provide you with valuable
            experiences for your valuable time.
          </div>
        </div>
        <div class="rectangle-parent">
          <img
            class="group-child"
            alt=""
            src="{% static './public/rectangle-32@2x.png' %}"
          /><img
            class="group-item"
            alt=""
            src="{% static './public/rectangle-33@2x.png' %}"
          /><img
            class="group-inner"
            alt=""
            src="{% static './public/rectangle-34@2x.png' %}"
          /><img
            class="group-child1"
            alt=""
            src="{% static './public/rectangle-35@2x.png' %}"
          />
        </div>
        <div class="rectangle-group">
          <div class="group-child2"></div>
          <div class="ellipse-parent">
            <img class="ellipse-icon" alt="" src="{% static './public/ellipse-4@2x.png' %}" />
            <div class="great-place-to">
              “ Great place to spend your vacation while exploring different
              experiences. “
            </div>
          </div>
          <div class="line-div"></div>
        </div>
      </div>
      <b class="certificate">Certificate</b>
      <div class="lorem-ipsum-dolor-container">
        <span class="lorem-ipsum-dolor-container1"
          ><p class="quidam-officiis-similique">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id
            turpis sodales,
          </p>
          <p class="quidam-officiis-similique">
            facilisis massa at, rutrum eros.
          </p></span
        >
      </div>
      <div class="dots">
        <div class="dot"></div>
        <div class="dot1"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
        <div class="dot4"></div>
        <div class="dot5"></div>
        <div class="dot6"></div>
        <div class="dot7"></div>
        <div class="dot8"></div>
        <div class="dot9"></div>
        <div class="dot10"></div>
        <div class="dot11"></div>
        <div class="dot12"></div>
        <div class="dot13"></div>
        <div class="dot14"></div>
        <div class="dot15"></div>
        <div class="dot16"></div>
        <div class="dot17"></div>
        <div class="dot18"></div>
        <div class="dot19"></div>
        <div class="dot20"></div>
        <div class="dot21"></div>
        <div class="dot22"></div>
        <div class="dot23"></div>
        <div class="dot24"></div>
        <div class="dot25"></div>
        <div class="dot26"></div>
        <div class="dot27"></div>
        <div class="dot28"></div>
        <div class="dot29"></div>
        <div class="dot30"></div>
        <div class="dot31"></div>
        <div class="dot32"></div>
        <div class="dot33"></div>
        <div class="dot34"></div>
        <div class="dot35"></div>
        <div class="dot36"></div>
        <div class="dot37"></div>
        <div class="dot38"></div>
        <div class="dot39"></div>
        <div class="dot40"></div>
        <div class="dot41"></div>
        <div class="dot42"></div>
        <div class="dot43"></div>
        <div class="dot44"></div>
        <div class="dot45"></div>
        <div class="dot46"></div>
        <div class="dot47"></div>
        <div class="dot48"></div>
        <div class="dot49"></div>
        <div class="dot50"></div>
        <div class="dot51"></div>
        <div class="dot52"></div>
        <div class="dot53"></div>
        <div class="dot54"></div>
        <div class="dot55"></div>
        <div class="dot56"></div>
        <div class="dot57"></div>
        <div class="dot58"></div>
        <div class="dot59"></div>
        <div class="dot60"></div>
        <div class="dot61"></div>
        <div class="dot62"></div>
        <div class="dot63"></div>
        <div class="dot64"></div>
        <div class="dot65"></div>
        <div class="dot66"></div>
        <div class="dot67"></div>
        <div class="dot68"></div>
        <div class="dot69"></div>
        <div class="dot70"></div>
        <div class="dot71"></div>
        <div class="dot72"></div>
        <div class="dot73"></div>
        <div class="dot74"></div>
        <div class="dot75"></div>
        <div class="dot76"></div>
        <div class="dot77"></div>
        <div class="dot78"></div>
        <div class="dot79"></div>
        <div class="dot80"></div>
        <div class="dot81"></div>
        <div class="dot82"></div>
        <div class="dot83"></div>
        <div class="dot84"></div>
        <div class="dot85"></div>
        <div class="dot86"></div>
        <div class="dot87"></div>
        <div class="dot88"></div>
        <div class="dot89"></div>
      </div>
      <div class="dots1">
        <div class="dot90"></div>
        <div class="dot91"></div>
        <div class="dot92"></div>
        <div class="dot93"></div>
        <div class="dot94"></div>
        <div class="dot95"></div>
        <div class="dot96"></div>
        <div class="dot97"></div>
        <div class="dot98"></div>
        <div class="dot99"></div>
        <div class="dot100"></div>
        <div class="dot101"></div>
        <div class="dot102"></div>
        <div class="dot103"></div>
        <div class="dot104"></div>
        <div class="dot105"></div>
        <div class="dot106"></div>
        <div class="dot107"></div>
        <div class="dot108"></div>
        <div class="dot109"></div>
        <div class="dot110"></div>
        <div class="dot111"></div>
        <div class="dot112"></div>
        <div class="dot113"></div>
        <div class="dot114"></div>
        <div class="dot115"></div>
        <div class="dot116"></div>
        <div class="dot117"></div>
        <div class="dot118"></div>
        <div class="dot119"></div>
        <div class="dot120"></div>
        <div class="dot121"></div>
        <div class="dot122"></div>
        <div class="dot123"></div>
        <div class="dot124"></div>
        <div class="dot125"></div>
        <div class="dot126"></div>
        <div class="dot127"></div>
        <div class="dot128"></div>
        <div class="dot129"></div>
        <div class="dot130"></div>
        <div class="dot131"></div>
        <div class="dot132"></div>
        <div class="dot133"></div>
        <div class="dot134"></div>
        <div class="dot135"></div>
        <div class="dot136"></div>
        <div class="dot137"></div>
        <div class="dot138"></div>
        <div class="dot139"></div>
        <div class="dot140"></div>
        <div class="dot141"></div>
        <div class="dot142"></div>
        <div class="dot143"></div>
        <div class="dot144"></div>
        <div class="dot145"></div>
        <div class="dot146"></div>
        <div class="dot147"></div>
        <div class="dot148"></div>
        <div class="dot149"></div>
        <div class="dot150"></div>
        <div class="dot151"></div>
        <div class="dot152"></div>
        <div class="dot153"></div>
        <div class="dot154"></div>
        <div class="dot155"></div>
        <div class="dot156"></div>
        <div class="dot157"></div>
        <div class="dot158"></div>
        <div class="dot159"></div>
        <div class="dot160"></div>
        <div class="dot161"></div>
        <div class="dot162"></div>
        <div class="dot163"></div>
        <div class="dot164"></div>
        <div class="dot165"></div>
        <div class="dot166"></div>
        <div class="dot167"></div>
        <div class="dot168"></div>
        <div class="dot169"></div>
        <div class="dot170"></div>
        <div class="dot81"></div>
        <div class="dot82"></div>
        <div class="dot83"></div>
        <div class="dot84"></div>
        <div class="dot85"></div>
        <div class="dot86"></div>
        <div class="dot87"></div>
        <div class="dot88"></div>
        <div class="dot89"></div>
      </div>
      <div class="image-image-style-1">
        <img class="video-icon" alt="" src="{% static './public/video@2x.png' %}" />
      </div>
      <div class="image-image-style-3">
        <img class="video-icon" alt="" src="{% static './public/video1@2x.png' %}" />
      </div>
      <div class="image-image-style-2">
        <img class="video-icon" alt="" src="{% static './public/video@2x.png' %}" />
      </div>
      <div class="image-image-style-4">
        <img class="video-icon" alt="" src="{% static './public/video1@2x.png' %}" />
      </div>
      <div class="circle-big">
        <img class="circle-big-child" alt="" src="{% static './public/ellipse-1.svg' %}" /><img
          class="circle-big-item"
          alt=""
          src="{% static './public/ellipse-41.svg' %}"
        /><img
          class="circle-big-inner"
          alt=""
          src="{% static './public/ellipse-2.svg' %}"
        /><img class="circle-big-child1" alt="" src="{% static './public/ellipse-3.svg' %}" />
      </div>
      <footer class="footer">
        <img
          class="footer-child"
          alt=""
          src="{% static './public/rectangle-14@2x.png' %}"
        /><img
          class="social-media-icon"
          alt=""
          src="{% static './public/social-media.svg' %}"
        />
        <div class="link">
          <div class="company">Company</div>
          <div class="events">Events</div>
          <div class="blogs">Blogs</div>
          <div class="faq">FAQ</div>
          <div class="join-us">Join US</div>
          <div class="about">About</div>
          <div class="project">Project</div>
          <div class="lorem">Lorem</div>
          <div class="services">Services</div>
          <div class="our-story">Our Story</div>
          <div class="contact-us">Contact Us</div>
          <div class="abcloremcom">abc@lorem.com</div>
          <div class="india">India</div>
        </div>
        <div class="logo-summary">
          <div class="lorem-ipsum-is-container">
            <span class="lorem-ipsum-dolor-container1"
              ><p class="quidam-officiis-similique">
                Lorem Ipsum is simply dummy
              </p>
              <p class="quidam-officiis-similique">
                text of the printing and type
              </p>
              <p class="quidam-officiis-similique">setting industry.</p></span
            >
          </div>
          <img
            class="gol-logo-white-1-icon"
            alt=""
            src="{% static './public/gollogowhite-1@2x.png' %}"
          />
        </div>
        <div class="footer-item"></div>
        <div class="copyright-2023">
          Copyright © 2023 GoL Travels Private Limited. All Rights Reserved.
        </div>
      </footer>
      <div class="download-our-app">
        <div class="download-our-app-child"></div>
        <div class="download">
          <div class="rectangle-container">
            <div class="group-child3"></div>
            <div class="google-play-png-logo-3789-1-parent">
              <img
                class="google-play-png-logo-3789-1-icon"
                alt=""
                src="{% static './public/googleplaypnglogo3789-1@2x.png' %}"
              /><b class="get-in-on">GET IN ON</b
              ><b class="google-play">Google Play</b>
            </div>
          </div>
        </div>
        <div class="ellipse-group">
          <img class="group-child4" alt="" src="{% static './public/ellipse-10.svg' %}" /><img
            class="frame-icon"
            alt=""
            src="{% static './public/frame.svg' %}"
          />
        </div>
        <a class="download-our-app1">Download Our App</a>
        <div class="the-best-travel">The best travel in the world</div>
        <img class="element-icon" alt="" src="{% static './public/element.svg' %}" />
      </div>
    </div>
  </body>
</html>
