{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static '../static/style99.css' %}">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="package-1366px">
        <img class="vector-icon" alt="" src="{% static './image8/vector.svg' %}" />
        <div class="package-1366px-child"></div>
        
        <img class="gol-logo-1-icon" alt="" src="{% static './image8/gollogo-1@2x.png' %}" />
        <div class="nav-var">
          <div class="find-reservations">Find Reservations</div>
          <div class="packages-parent">
            <div class="packages">Packages</div>
            <img class="vector-icon1" alt="" src="{% static './image8/vector1.svg' %}" />
          </div>
          <div class="about-lakshadweep-parent">
            <div class="packages">About Lakshadweep</div>
            <img class="vector-icon2" alt="" src="{% static './image8/vector2.svg' %}" />
          </div>
          <div class="find-reservations">About Us</div>
          <div class="find-reservations">Gol</div>
          <div class="find-reservations">Support</div>
        </div>
        <img class="circle-big-icon" alt="" src="{% static './image8/circle-big.svg' %}" /><img
          class="boat-icon"
          alt=""
          src="{% static  './image8/boat@2x.png' %}"
        /><b class="maldives">Maldives</b
        ><img
          class="package-1366px-item"
          alt=""
          src="{% static './image8/rectangle-4183@2x.png' %}"
        />
        <div class="package-1366px-inner">
          <div class="frame-parent">
            <div class="overview-wrapper">
              <div class="login">OVERVIEW</div>
            </div>
            <div class="overview-wrapper">
              <div class="login">ITINERARY</div>
            </div>
            <div class="overview-wrapper">
              <div class="login">ADDITIONAL INFO</div>
            </div>
          </div>
        </div>
        <div class="frame-div"><div class="frame-child"></div></div>
        <div class="package-1366px-inner1">
          <div class="starting-from-parent">
            <div class="login">Starting from</div>
            <b class="b">₹50,999</b>
          </div>
        </div>
        
        <div class="package-overview">Package Overview</div>
        <div class="day-wise-itineary">Day Wise Itineary</div>
        <div class="additional-information">Additional information</div>
        <div class="experience-world-class-service-container">
          <p class="experience-world-class-service">
            Experience World-class Service at Kandima Maldives - Escape the
            ordinary Located on the largest island in Dhaalu Atoll, Kandima
            Maldives has the longest outdoor swimming pool in the Maldives, an
            abundance of water-sports, the largest beach club and tennis and
            basketball courts. It offers a marine biology centre, an art studio
            and cooking classes. Located at a 30-minute flight from Male’ and
            followed by a 20-minute boat ride to the island, the resort offers
            studios and villas with a private terrace and private pool. They
            offer endless tropical views. For fitness lovers, Kandima Maldives
            has a gym with personal trainers and provides classes like
            anti-gravity yoga, Zumba, aqua-bike classes and POUND® fitness
            lessons. Guests can hire bikes or electric scooters. Guests can
            choose among the 10 restaurants and bars the property offers. Sea
            Dragon serves authentic Chinese cuisine while Forbidden Bar plays
            live music in the night. Start the day at Aroma with fresh beverages
            and baked goods.
          </p>
          <p class="experience-world-class-service">&nbsp;</p>
          <p class="for-total-relaxation">
            For total relaxation, choose from massages, facials and a range of
            Signature local treatments. The Kandima Kids Club is run by a
            multilingual team of certified child care-givers. We speak your
            language! Kandima Maldives - Escape the ordinary...
          </p>
        </div>
        <div class="package-1366px-child1"></div>
        <div class="package-1366px-child2"></div>
        <div class="day-1-wrapper"><div class="send-query">Day 1</div></div>
        <div class="day-2-wrapper"><div class="send-query">Day 2</div></div>
        <div class="day-3-wrapper"><div class="send-query">Day 3</div></div>
        <div class="arrival-at-maldives-parent">
          <div class="send-query">ARRIVAL AT MALDIVES</div>
          <div class="frame-child1"></div>
          <div class="on-arrival-at">
            On arrival at the Maldives International airport you will be met by
            the resort's airport representative and will be transferred to
            Vivanta By Taj Coral Reef by a speedboat ( shared basis ) .
            Afternoon free for relaxation . Overnight stay at the resort .
          </div>
        </div>
        <div class="maldives-parent">
          <div class="send-query">MALDIVES</div>
          <div class="frame-child1"></div>
          <div class="on-arrival-at">
            On arrival at the Maldives International airport you will be met by
            the resort's airport representative and will be transferred to
            Vivanta By Taj Coral Reef by a speedboat ( shared basis ) .
            Afternoon free for relaxation . Overnight stay at the resort .
          </div>
        </div>
        <div class="depature-from-maldives-parent">
          <div class="send-query">DEPATURE FROM MALDIVES</div>
          <div class="frame-child1"></div>
          <div class="on-arrival-at">
            On arrival at the Maldives International airport you will be met by
            the resort's airport representative and will be transferred to
            Vivanta By Taj Coral Reef by a speedboat ( shared basis ) .
            Afternoon free for relaxation . Overnight stay at the resort .
          </div>
        </div>
        <div class="inclusions-parent">
          <b class="inclusions">Inclusions</b>
          <div class="nights-accommodation-in-selec-parent">
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                4 Nights’ accommodation in selected room category
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                Meal Plan: Full Board (Breakfast, Lunch & Dinner)
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                Dolphin Watching Tour with Lunch, Water & Soft Drinks
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                Snorkelling Gear & Photography
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                In-Room 500ml Bottled Mineral Water Per Day
              </ul>
            </div>
          </div>
        </div>
        <div class="exclusions-parent">
          <b class="inclusions">EXclusions</b>
          <div class="nights-accommodation-in-selec-parent">
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                4 Nights’ accommodation in selected room category
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                Meal Plan: Full Board (Breakfast, Lunch & Dinner)
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                Dolphin Watching Tour with Lunch, Water & Soft Drinks
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                Snorkelling Gear & Photography
              </ul>
            </div>
            <div class="explore-maldives">
              <ul class="nights-accommodation-in">
                In-Room 500ml Bottled Mineral Water Per Day
              </ul>
            </div>
          </div>
        </div>
        
        </div>
        <div class="frame-parent1">
          <div class="need-help-parent">
            <div class="need-help">Need help?</div>
            <div class="frame-child4"></div>
          </div>
          <div class="frame-parent2">
            <div class="phone-group">
              <img class="phone-icon1" alt="" src="{% static './image8/phone1.svg' %}" />
              <div class="need-help">91-8474846846</div>
            </div>
            <div class="phone-group">
              <img class="email-icon1" alt="" src="{% static './image8/email1.svg' %}" />
              <div class="need-help">sara.cruz@example.com</div>
            </div>
          </div>
        </div>
        <div class="faq-11">
          <div class="input-parent">
            <div class="input">
              <div class="search-a-question-parent">
                <div class="search-a-question">Search a question</div>
                <img class="icon-pack" alt="" src="{% static './image8/icon-pack.svg' %}" />
              </div>
            </div>
            <div class="frame-parent3">
              <div class="try-using-our-templates-wrapper">
                <div class="try-using-our">Try using our templates!</div>
              </div>
              <img class="icon-pack" alt="" src="{% static './image8/icon-pack1.svg' %}" />
            </div>
            <div class="frame-parent4">
              <div class="try-using-our-templates-parent">
                <div class="try-using-our">Try using our templates!</div>
                <div class="lets-embody-your">
                  Let’s embody your beautiful ideas together, simplify the way
                  you visualize your next big things.
                </div>
              </div>
              <img class="icon-pack" alt="" src="{% static './image8/icon-pack2.svg' %}" />
            </div>
            <div class="frame-parent3">
              <div class="try-using-our-templates-wrapper">
                <div class="try-using-our">Try using our templates!</div>
              </div>
              <img class="icon-pack" alt="" src="{% static './image8/icon-pack1.svg' %}" />
            </div>
            <div class="frame-parent3">
              <div class="try-using-our-templates-wrapper">
                <div class="try-using-our">Try using our templates!</div>
              </div>
              <img class="icon-pack" alt="" src="{% static './image8/icon-pack1.svg' %}" />
            </div>
          </div>
        </div>
        <div class="faq">FAQ</div>
        <footer class="footer">
          <img
            class="footer-child"
            alt=""
            src="{% static './image8/rectangle-14@2x.png' %}"
          /><img
            class="social-media-icon"
            alt=""
            src="{% static './image8/social-media.svg' %}"
          />
          <div class="link">
            <div class="company">Company</div>
            <div class="events">Events</div>
            <div class="blogs">Blogs</div>
            <div class="faq1">FAQ</div>
            <div class="join-us">Join US</div>
            <div class="about">About</div>
            <div class="project">Project</div>
            <div class="lorem">Lorem</div>
            <div class="services">Services</div>
            <div class="our-story">Our Story</div>
            <div class="contact-us">Contact Us</div>
            <div class="abcloremcom">abc@lorem.com</div>
            <div class="india">India</div>
          </div>
          <div class="logo-summary">
            <div class="lorem-ipsum-is-container">
              <span class="lorem-ipsum-is-container1"
                ><p class="for-total-relaxation">Lorem Ipsum is simply dummy</p>
                <p class="for-total-relaxation">
                  text of the printing and type
                </p>
                <p class="for-total-relaxation">setting industry.</p></span
              >
            </div>
            <img
              class="gol-logo-white-1-icon"
              alt=""
              src="{% static './image8/gollogowhite-1@2x.png' %}"
            />
          </div>
          <div class="footer-item"></div>
          <div class="copyright-2023">
            Copyright © 2023 GoL Travels Private Limited. All Rights Reserved.
          </div>
        </footer>
        <div class="download-our-app">
          <div class="download-our-app-child"></div>
          <div class="download">
            <div class="rectangle-container">
              <div class="rectangle-div"></div>
              <div class="google-play-png-logo-3789-1-parent">
                <img
                  class="google-play-png-logo-3789-1-icon"
                  alt=""
                  src="{% static './image8/googleplaypnglogo3789-1@2x.png' %}"
                /><b class="get-in-on">GET IN ON</b
                ><b class="google-play">Google Play</b>
              </div>
            </div>
          </div>
          <div class="ellipse-parent">
            <img
              class="ellipse-icon"
              alt=""
              src="{% static './image8/ellipse-10.svg' %}"
            /><img class="frame-icon" alt="" src="{% static './image8/frame.svg' %}" />
          </div>
          <a class="download-our-app1">Download Our App</a>
          <div class="the-best-travel">The best travel in the world</div>
          <img class="element-icon" alt="" src="{% static './image8/element.svg' %}" />
        </div>
      </div>
    </div>
  </body>
</html>
