{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static '../static/style8.css' %"}>
	<meta name="viewport" content="width=device-width">
	<meta name="next-head-count" content="2">
	<link rel="preload" href="/_next/static/css/kVYaUdcTatjq.css" as="style">
	<link rel="stylesheet" href="css/kVYaUdcTatjq.css" data-n-g><noscript data-n-css></noscript>
	<script defer nomodule src="js/NgtIoS9BQSAX.js"></script>
	<script src="js/2jHf7gmCOnrV.js" defer></script>
	<script src="js/RoR2PMVJK6mR.js" defer></script>
	<script src="js/YoT6SEVNpO2X.js" defer></script>
	<script src="js/ZFnyB6EiypVA.js" defer></script>
	<script src="js/ywJk0MMbBXWs.js" defer></script>
	<script src="js/YSQ5UVaHZ71z.js" defer></script>
	<script src="js/tcY9zgiV2UpW.js" defer></script>
	<script src="js/QVERSkd1A7Q9.js" defer></script>
	<script src="js/uzP5792G5tEg.js" defer></script>
	<script src="js/IJHeHVrWIsV5.js" defer></script>
	<script src="js/QsYfpN70PRa0.js" defer></script>
</head>

<body>
	<div id="__next">
		<div class="fixed top-0 left-0 right-0 h-40 sm:h-48 z-30 px-5"
			style="background:linear-gradient(180deg, #E5F8FE 14.25%, rgba(255, 255, 255, 0) 100%)">
			<nav class="flex max-w-screen-xl z-30 mx-auto bg-transparent justify-between items-center w-full h-24 "><a
					class="z-30 w-40" href="/"><img alt="logo" loading="lazy" width="100" height="56" decoding="async"
						data-nimg="1" style="color:transparent" sizes="100%"
						srcset="image_6 16w, image_24 32w, image_26 48w, image_8 64w, image_18 96w, image_13 128w, image_1 256w, image_5 384w, image_14 640w, image_12 750w, image_7 828w, image_11 1080w, image_15 1200w, image_10 1920w, image_21 2048w, image 3840w"
						src="image"></a>
				<div class="hidden lg:flex z-30">
					<ul class="lg:flex items-center ">
						<li class="mx-4 capitalize cursor-pointer  hover:text-primary-color duration-100"><a
								href="/packages">packages</a></li>
						<li class="mx-4 capitalize cursor-pointer  hover:text-primary-color duration-100"><a
								href="/about">about</a></li>
						<li class="mx-4 capitalize cursor-pointer  hover:text-primary-color duration-100"><a
								href="/support">support</a></li>
					</ul>
					<ul class="lg:flex items-center">
						<li class="capitalize mr-5 cursor-pointer text-primary-color"><a href="/login">Login</a></li>
						<li class="capitalize cursor-pointer bg-primary-color text-white px-4 py-2 rounded-full"><a
								href="/signUp">Sign Up</a></li>
					</ul>
				</div>
				<div class="cursor-pointer z-30 text-gray-500 lg:hidden"><svg stroke="currentColor" fill="currentColor"
						stroke-width="0" viewBox="0 0 448 512" height="30" width="30"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
					</svg></div>
			</nav>
		</div>
		<section class>
			<div class
				style="background-image:url(&#x27;images/qlkgWNQmPH5H.png&#x27;);background-size:cover;background-repeat:no-repeat;background-position:top">
				<div class="max-w-screen-xl px-5 md:px-0 pt-28 mx-auto">
					<div class="h-full">
						<div class="text-center py-24">
							<h1 class="font-bold text-7xl">Maldives</h1>
						</div>
						<div class="flex justify-center pb-60">
							<div><span class="relative"><input
										class="placeholder:text-slate-400 bg-transparent w-80 max-w-96 py-3 px-4 block rounded-full border-2 border-gray-500 focus:border-gray-600 focus:outline-none focus:ring-0"
										placeholder="Write something . . . " type="text" name><button
										class=" absolute top-0 right-0 text-primary-color"><svg stroke="currentColor"
											fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="52"
											width="52" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M256 64C150.13 64 64 150.13 64 256s86.13 192 192 192 192-86.13 192-192S361.87 64 256 64zm91.31 283.31a16 16 0 01-22.62 0l-42.84-42.83a88.08 88.08 0 1122.63-22.63l42.83 42.84a16 16 0 010 22.62z" />
											<circle cx="232" cy="232" r="56" />
										</svg></button></span>
								<div class="card mt-4 flex flex-col hidden"><a
										class="cursor-pointer w-full my-1 bg-gray-50 py-2 px-6" href="/">Samudram</a><a
										class="cursor-pointer w-full my-1 bg-gray-50 py-2 px-6" href="/">Maldives</a><a
										class="cursor-pointer w-full my-1 bg-gray-50 py-2 px-6" href="/">Agatti</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-gradient-to-b">
			<div class="max-w-screen-xl px-5 mx-auto mt-28">
				<div class="grid grid-cols-1 md:grid-cols-3 md:gap-28">
					<div class="col-span-2">
						<div>
							<div class="card py-0 flex space-x-6 font-semibold"><span
									class="cursor-pointer border-b-4 border-primary-color py-4">OVERVIEW</span><span
									class="cursor-pointer py-4">ITINERARY</span><span
									class="cursor-pointer py-4">ADDITIONAL INFO</span></div>
							<div class="my-10">
								<div class="w-full"><img alt="image" loading="lazy" width="2000" height="1144"
										decoding="async" data-nimg="1" style="color:transparent" sizes="100%"
										srcset="image_19 16w, image_9 32w, image_22 48w, image_61 64w, image_17 96w, image_20 128w, image_25 256w, image_29 384w, image_43 640w, image_35 750w, image_34 828w, image_38 1080w, image_42 1200w, image_33 1920w, image_36 2048w, image_4 3840w"
										src="image_4"></div>
								<h1 class="font-semibold text-2xl my-4">Package Overview</h1>
								<p class="text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
									nemo placeat optio suscipit aspernatur assumenda amet aperiam reprehenderit? Quos
									ipsum, minus magni beatae dolorem eius voluptates. Beatae rem delectus animi
									blanditiis alias veritatis nobis deleniti perspiciatis atque ab voluptate modi
									architecto non dolorem, fugit ratione! Praesentium, ad numquam. Hic veniam ducimus,
									inventore sed aut, enim corrupti eaque, repellat maxime nulla incidunt impedit minus
									molestiae! Eligendi vero, suscipit esse facere numquam nulla excepturi itaque harum
									accusamus minima provident quidem aspernatur dignissimos eius error asperiores eaque
									sapiente tempore soluta ducimus. Itaque cumque animi praesentium doloribus ad rem
									odit hic asperiores modi provident quaerat delectus facere id soluta, reprehenderit
									omnis ipsa ipsum vero consequuntur blanditiis libero inventore expedita corporis?
									Commodi, fuga. Unde pariatur beatae dicta vitae dolore a, architecto,</p>
							</div>
							<hr class="border border-gray-500">
							<div>
								<h1 class="text-2xl mt-4 font-semibold">Day Wise Iteneary</h1>
								<div class="md:flex flex-row justify-between mt-8">
									<div class="mb-3"><button
											class="px-6 py-2 rounded-md bg-primary-color cursor-pointer  text-white">Day
											1</button></div>
									<div class="card md:w-10/12">
										<h2 class="font-semibold text-md">ARRIVAL AT MALDIVES</h2>
										<hr class="border-gray-500 my-3">
										<p>On arrival at the Maldives International airport you will be met by the
											resorts airport representative and will be transferred to Vivanta By Taj
											Coral Reef by a speedboat shared basis. Afternoon free for relaxation.
											Overnight stay at the resort.</p>
									</div>
								</div>
								<div class="md:flex justify-between mt-8">
									<div class="mb-3"><button
											class="px-6 py-2 rounded-md bg-primary-color cursor-pointer  text-white">Day
											2</button></div>
									<div class="card md:w-10/12">
										<h2 class="font-semibold text-md">MALDIVES</h2>
										<hr class="border-gray-500 my-3">
										<p>On arrival at the Maldives International airport you will be met by the
											resorts airport representative and will be transferred to Vivanta By Taj
											Coral Reef by a speedboat shared basis . Afternoon free for relaxation.
											Overnight stay at the resort.</p>
									</div>
								</div>
								<div class="md:flex justify-between mt-8">
									<div class="mb-3"><button
											class="px-6 py-2 rounded-md bg-primary-color cursor-pointer  text-white">Day
											3</button></div>
									<div class="card md:w-10/12">
										<h2 class="font-semibold text-md">DEPATURE FROM MALDIVES</h2>
										<hr class="border-gray-500 my-3">
										<p>On arrival at the Maldives International airport you will be met by the
											resorts airport representative and will be transferred to Vivanta By Taj
											Coral Reef by a speedboat shared basis . Afternoon free for relaxation.
											Overnight stay at the resort.</p>
									</div>
								</div>
							</div>
							<hr class="border my-8 border-gray-500">
							<h2 class="font-semibold text-2xl">Additional Info</h2>
							<div class="card my-6">
								<h2 class="text-md font-semibold">INCLUSION</h2>
								<ul class="list-disc ml-4 mt-3 text-sm">
									<li>4 Nights accommodation in selected room category</li>
									<li>Meal Plan: Full Board (Breakfast, Lunch & Dinner)</li>
									<li>Dolphin Watching Tour with Lunch, Water & Soft Drinks</li>
									<li>In-Room 500ml Bottled Mineral Water Per Day</li>
								</ul>
							</div>
							<div class="card my-6">
								<h2 class="text-md font-semibold">EXCLUSION</h2>
								<ul class="list-disc ml-4 mt-3 text-sm">
									<li>4 Nights accommodation in selected room category</li>
									<li>Meal Plan: Full Board (Breakfast, Lunch & Dinner)</li>
									<li>Dolphin Watching Tour with Lunch, Water & Soft Drinks</li>
									<li>In-Room 500ml Bottled Mineral Water Per Day</li>
								</ul>
							</div>
						</div>
					</div>
					<div class>
						<div>
							<div class="card py-4 text-center">Starting From<!-- --> <span
									class="text-primary-color ml-2 font-bold">50,000</span> </div>
							<div class="text-center bg-light-blue rounded-md px-4 py-4 my-6">
								<h2 class="font-semibold">Want to Go For A Memorable Holiday?</h2>
								<p>Provide Your Details to Know Best Holiday Deals</p>
							</div>
							<div class="card">
								<div class="mb-6"><label class="font-medium text-gray-600">Package Name</label><input
										class="placeholder:text-slate-400 w-full mt-2 py-2 px-4 block rounded-md border border-gray-500 focus:border-gray-500 focus:outline-none focus:ring-0"
										placeholder="Explore maldives " type="text"></div>
								<div class="mb-6"><label class="font-medium text-gray-600">City of
										Departure</label><input
										class="placeholder:text-slate-400 w-full mt-2 py-2 px-4 block rounded-md border border-gray-500 focus:border-gray-500 focus:outline-none focus:ring-0"
										placeholder="Indore " type="text"></div>
								<div class="mb-6"><label class="font-medium text-gray-600">Date of
										Departure</label><input
										class="placeholder:text-slate-400 w-full mt-2 py-2 px-4 block rounded-md border border-gray-500 focus:border-gray-500 focus:outline-none focus:ring-0"
										placeholder="18 April " type="text"></div><label
									class="font-medium text-gray-600"> Contact Details</label>
								<hr class="border mt-1 mb-6 border-gray-400">
								<div class="mb-6"><input
										class="placeholder:text-slate-400 w-full mt-2 py-2 px-4 block rounded-md border border-gray-500 focus:border-gray-500 focus:outline-none focus:ring-0"
										placeholder="Your name " type="text"></div>
								<div class="mb-6"><input
										class="placeholder:text-slate-400 w-full mt-2 py-2 px-4 block rounded-md border border-gray-500 focus:border-gray-500 focus:outline-none focus:ring-0"
										placeholder="Your Email Address " type="email"></div>
								<div class="flex space-x-3">
									<div
										class="mb-6 text-slate-400 mt-2 py-2 px-4 block rounded-md border border-gray-500">
										<span>+91</span></div>
									<div class="mb-6 w-10/12"><input
											class="placeholder:text-slate-400 w-full mt-2 py-2 px-4 block rounded-md border border-gray-500 focus:border-gray-500 focus:outline-none focus:ring-0"
											placeholder="Your Phone number " type="number"></div>
								</div><button
									class="text-center w-full mt-2 py-2 px-4 block rounded-md border text-primary-color border-primary-color font-semibold">Send
									Query</button>
								<div class="text-center text-gray-500 my-6">OR</div><button
									class="text-center w-full mt-2 py-2 px-4 rounded-md bg-primary-color text-white">Book
									Now</button>
							</div>
							<div class="card text-center my-6 text-sm">
								<h2 class="text-lg font-semibold">Need help?</h2>
								<p class="my-4">+91 7000635238</p>
								<p>ask@gmail.com</p>
							</div>
							<div class="card">
								<div class="text-center">
									<h2 class="font-semibold">FAQ</h2>
								</div>
								<div class="relative my-4"><input type="search" placeholder="Search a question"
										class="bg-light-blue py-2 px-4 w-full border-none outline-none"><svg
										stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1"
										id="search" x="0px" y="0px" viewBox="0 0 24 24"
										class="absolute top-2 text-gray-500 cursor-pointer right-2" height="25"
										width="25" xmlns="http://www.w3.org/2000/svg">
										<g>
											<path d="M20.031,20.79c0.46,0.46,1.17-0.25,0.71-0.7l-3.75-3.76c1.27-1.41,2.04-3.27,2.04-5.31
		c0-4.39-3.57-7.96-7.96-7.96s-7.96,3.57-7.96,7.96c0,4.39,3.57,7.96,7.96,7.96c1.98,0,3.81-0.73,5.21-1.94L20.031,20.79z
		 M4.11,11.02c0-3.84,3.13-6.96,6.96-6.96c3.84,0,6.96,3.12,6.96,6.96c0,3.84-3.12,6.96-6.96,6.96C7.24,17.98,4.11,14.86,4.11,11.02
		z" />
										</g>
									</svg></div>
								<div
									class="border mb-6 flex justify-between items-center border-gray-400 px-4 py-2 rounded-sm">
									<h2 class="font-medium">Try using our templates!</h2><span
										class="font-semibold text-2xl">+</span>
								</div>
								<div
									class="border mb-6 flex justify-between items-center border-gray-400 px-4 py-2 rounded-sm">
									<div>
										<h2 class="font-medium">Try using our templates!</h2>
										<p class="text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
											Nulla sequi doloribus</p>
									</div><span class="font-semibold text-2xl">-</span>
								</div>
								<div
									class="border mb-6 flex justify-between items-center border-gray-400 px-4 py-2 rounded-sm">
									<h2 class="font-medium">Try using our templates!</h2><span
										class="font-semibold text-2xl">+</span>
								</div>
								<div
									class="border mb-6 flex justify-between items-center border-gray-400 px-4 py-2 rounded-sm">
									<h2 class="font-medium">Try using our templates!</h2><span
										class="font-semibold text-2xl">+</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="mt-60" style="background-image:url(&#x27;images/mUoPCzVEpa9x.png&#x27;)">
			<div class="max-w-screen-xl relative px-5  mx-auto pt-16 md:pt-52 pb-14">
				<div
					class="bg-black text-white flex justify-between items-center absolute -top-28 right-0 left-0 rounded-lg px-8 py-4 mx-5">
					<div>
						<h1 class="font-bold text-lg md:text-4xl">Download Our App</h1>
						<p class="my-4">The best travel in the world</p>
						<div class="w-28 md:w-48"><img alt="playstore Image" loading="lazy" width="218" height="68"
								decoding="async" data-nimg="1" style="color:transparent" sizes="100%"
								srcset="image_23 16w, image_28 32w, image_37 48w, image_27 64w, image_16 96w, image_30 128w, image_31 256w, image_32 384w, image_47 640w, image_45 750w, image_44 828w, image_46 1080w, image_39 1200w, image_40 1920w, image_41 2048w, image_2 3840w"
								src="image_2"></div>
					</div>
					<div class="w-16 md:w-48"><img alt="mobile image" loading="lazy" width="255" height="330"
							decoding="async" data-nimg="1" style="color:transparent" sizes="100%"
							srcset="image_63 16w, image_50 32w, image_49 48w, image_48 64w, image_52 96w, image_51 128w, image_58 256w, image_57 384w, image_55 640w, image_53 750w, image_56 828w, image_54 1080w, image_62 1200w, image_59 1920w, image_60 2048w, image_3 3840w"
							src="image_3"></div>
				</div>
				<div>
					<div class="grid grid-cols-1 md:grid-cols-4 gap-16 text-white text-sm">
						<div><img alt="logo" loading="lazy" width="100" height="56" decoding="async" data-nimg="1"
								style="color:transparent" srcset="image_13 1x, image_1 2x" src="{% url '../static/image_1'%}"><a href=""></a>
							<p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus,
								consequuntur.</p>
							<div class="flex space-x-1 mt-8"><span><a
										href="https://www.facebook.com/asumal.kushwah.5"><svg stroke="currentColor"
											fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="28"
											width="28" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
										</svg></a></span><span><a
										href="https://www.linkedin.com/in/asumal-kushwah/"><svg stroke="currentColor"
											fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="30"
											width="30" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm215.3 337.7c.3 4.7.3 9.6.3 14.4 0 146.8-111.8 315.9-316.1 315.9-63 0-121.4-18.3-170.6-49.8 9 1 17.6 1.4 26.8 1.4 52 0 99.8-17.6 137.9-47.4-48.8-1-89.8-33-103.8-77 17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35 25.1-4.7 49.1-14.1 70.5-26.7-8.3 25.7-25.7 47.4-48.8 61.1 22.4-2.4 44-8.6 64-17.3-15.1 22.2-34 41.9-55.7 57.6z" />
										</svg></a></span><span><a
										href="https://www.linkedin.com/in/asumal-kushwah/"><svg stroke="currentColor"
											fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="30"
											width="30" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM349.3 793.7H230.6V411.9h118.7v381.8zm-59.3-434a68.8 68.8 0 1 1 68.8-68.8c-.1 38-30.9 68.8-68.8 68.8zm503.7 434H675.1V608c0-44.3-.8-101.2-61.7-101.2-61.7 0-71.2 48.2-71.2 98v188.9H423.7V411.9h113.8v52.2h1.6c15.8-30 54.5-61.7 112.3-61.7 120.2 0 142.3 79.1 142.3 181.9v209.4z" />
										</svg></a></span><span><a href="https://www.instagram.com/asumal_singh/"><svg
											stroke="currentColor" fill="currentColor" stroke-width="0"
											viewBox="0 0 1024 1024" height="30" width="30"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7zM911.8 512c0-55.2.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1zm213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9 47.9 21.4 47.9 47.9a47.84 47.84 0 0 1-47.9 47.9z" />
										</svg></a></span></div>
						</div>
						<div class="space-y-1">
							<p class="font-bold text-md mb-3">Company</p>
							<p>Events</p>
							<p>Blogs</p>
							<p>FAQ</p>
							<p>Join Us</p>
						</div>
						<div class="space-y-1">
							<p class="font-bold text-md mb-3">About</p>
							<p>Project</p>
							<p>Lorem</p>
							<p>Services</p>
							<p>Our Story</p>
						</div>
						<div class="space-y-1">
							<p class="font-bold text-md mb-3">Contact Us</p>
							<p>ask@gmail.com</p>
							<p>India</p>
						</div>
					</div>
					<hr class="mt-8 border-white">
					<div class="text-center text-white my-4">
						<p>Copyright © 2023 GoL Travels Private Limited. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script id="__NEXT_DATA__"
		type="application/json">{"props":{"pageProps":{}},"page":"/packages","query":{},"buildId":"rbd7plPT4OxfrLYQuSIID","nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[]}</script>
</body>

</html>